%section.content-wrapper
  - title "Digital Field App"
  / - content_for :page_actions do
  /   %a.btn.btn-primary.btn-sm{href: new_marketing_document_path, data: {behavior: "new-marketing-document"}}
  /     %i.fa.fa-plus.fa-fw
  /     Add New Document
  = render "shared/header"

  .content
    .help-block.text-center
      = render "marketing_tab_row"
    %hr
    %section.agent-info
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              / .panel-actions-input
              /   %a.btn.btn-default.btn-sm{:href => "#"} View all orders
              %h3.panel-title Products
            .panel-body
              %table.table.latest-deals
                %thead
                  %tr
                    %th App Name
                    %th VER
                    %th Date Added
                %tbody
                  %tr{data: {href: "#"}}
                    %td {App 1}
                    %td Canon 1.0
                    %td 2014-07
                  %tr{data: {href: "#"}}
                    %td HCPP + A/C
                    %td Canon 1.0
                    %td 2014-07
                  %tr{data: {href: "#"}}
                    %td Cross Sales
                    %td Canon 1.0
                    %td 2014-07
        .col-md-6
          .panel.panel-default
            .panel-heading
              .panel-actions-input
                %a.btn.btn-primary.btn-sm{:href => "#"} NEW PRODUCT
              %h3.panel-title Details
            .panel-body
              %h2 {APP SETUP}
              / %h4.sub-heading {SUBTYPE}, {TYPE}
              .row
                .col-sm-4
                  %p Presentation
                .col-sm-8
                  %p
                    %select#inputSelect.form-control
                      %option - Select One -
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
              .row
                .col-sm-4
                  %p Calculator
                .col-sm-8
                  %p
                    %select#inputSelect.form-control
                      %option - Select One -
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
              .row
                .col-sm-4
                  %p Pre-Inspection
                .col-sm-8
                  %p
                    %select#inputSelect.form-control
                      %option - Select One -
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
              .row
                .col-sm-4
                  %p Application
                .col-sm-8
                  %p
                    %select#inputSelect.form-control
                      %option - Select One -
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
              .row
                .col-sm-12
                  %p
                    NOTES:
                    %br
                    %textarea#inputTextarea.form-control{:placeholder => "Placeholder", :rows => "3"}
              %hr
              .row
                .col-sm-12.text-right
                  .form-group
                    %button.btn.btn-primary{:type => "submit"} UPDATE

    %hr

    / = render 'customer_info'