.btn-group{"aria-label" => "customer-actions", :role => "group"}
  %a.btn.btn-default.btn-sm{href: overview_customer_path(customer)} View
  / %a.btn.btn-default.btn-sm{href: edit_customer_path(customer)} Edit
  = link_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-default btn-sm"