%section.content-wrapper
  - title "Customer Verification"
  = render "shared/header"
  .content
    .help-block.text-center
      = render "customer_tab_row"
    %hr
    = render 'verification_form'

