.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Agent Sample
      .panel-body
        %p Mercedem aut nummos unde unde extricat, amaras. Curabitur blandit tempus ardua ridiculus sed magna. Mercedem aut nummos unde unde extricat, amaras. Cum ceteris in veneratione tui montes, nascetur mus. Idque Caesaris facere voluntate liceret: sese habere. Paullum deliquit, ponderibus modulisque suis ratio utitur.
        %p Nec dubitamus multa iter quae et nos invenerat. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Hi omnes lingua, institutis, legibus inter se differunt. Excepteur sint obcaecat cupiditat non proident culpa.
        %p Nec dubitamus multa iter quae et nos invenerat. Non equidem invideo, miror magis posuere velit aliquet. Contra legem facit qui id facit quod lex prohibet. Fabio vel iudice vincam, sunt in culpa qui officia. Quisque placerat facilisis egestas cillum dolore. Quam diu etiam furor iste tuus nos eludet?
        %p Idque Caesaris facere voluntate liceret: sese habere. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Sed haec quis possit intrepidus aestimare tellus. At nos hinc posthac, sitientis piros Afros.
        %p Donec sed odio operae, eu vulputate felis rhoncus. Contra legem facit qui id facit quod lex prohibet. Unam incolunt Belgae, aliam Aquitani, tertiam. Fictum,  deserunt mollit anim laborum astutumque! Nihil hic munitissimus habendi senatus locus, nihil horum?
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Agent Sample data
      .panel-body
        %p Mercedem aut nummos unde unde extricat, amaras. Curabitur blandit tempus ardua ridiculus sed magna. Mercedem aut nummos unde unde extricat, amaras. Cum ceteris in veneratione tui montes, nascetur mus. Idque Caesaris facere voluntate liceret: sese habere. Paullum deliquit, ponderibus modulisque suis ratio utitur.
        %p Nec dubitamus multa iter quae et nos invenerat. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Hi omnes lingua, institutis, legibus inter se differunt. Excepteur sint obcaecat cupiditat non proident culpa.
        %p Nec dubitamus multa iter quae et nos invenerat. Non equidem invideo, miror magis posuere velit aliquet. Contra legem facit qui id facit quod lex prohibet. Fabio vel iudice vincam, sunt in culpa qui officia. Quisque placerat facilisis egestas cillum dolore. Quam diu etiam furor iste tuus nos eludet?
        %p Idque Caesaris facere voluntate liceret: sese habere. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Sed haec quis possit intrepidus aestimare tellus. At nos hinc posthac, sitientis piros Afros.
        %p Donec sed odio operae, eu vulputate felis rhoncus. Contra legem facit qui id facit quod lex prohibet. Unam incolunt Belgae, aliam Aquitani, tertiam. Fictum,  deserunt mollit anim laborum astutumque! Nihil hic munitissimus habendi senatus locus, nihil horum?

